.select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-selection__rendered {
	margin-top: -8px !important;
}

.login-page {
	background-image: url("/img/bg-login.jpg") !important;
}