body, table{
	font-size: 14px;
	font-family: Calibri !important;
	color: #000000 !important;

}

.table-border, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

.table-border {
  border-collapse: collapse;
  width: 100%;
}

th {
	text-align: center;
}

td

.gap{
	height: 20px;
	clear: both;
}
h1{
	font-size: 40px;
	font-weight: bold;
}
h1, h3{
	margin: 0px;
}
.big{
	font-size: 30px;
	font-weight: bold;
}
.destination, .medium, h3{
	font-size: 18px;
}
.bg-balancesheet{
	background-color: #DEDEDE !important;
}
tr.header{
	height: 40px
}
tr.footer{
	height: 30px
}
hr{
	border-color: #000 !important;
}
.info{
	margin-bottom: 10px;
}